@font-face {
	font-family: Impact;
	src: url("/resources/fonts/Impact.ttf");
}

svg {
	font-family: Impact, serif;
	background: white;
}

svg > * {
	width: 100%;
}

*:not(.box) > rect {
	fill: white;
}

image,
text {
	cursor: pointer;
	text-transform: uppercase;
	dominant-baseline: central;
	text-anchor: middle;
}

.content {
	paint-order: stroke fill;
	stroke: white;
	stroke-width: 3px;
}
